<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXQbhozGVBqtw-l5QT1zdgYPvu36stwL8</string>
	<key>GCM_SENDER_ID</key>
	<string>742369823178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>olxapp-c9d6d</string>
	<key>STORAGE_BUCKET</key>
	<string>olxapp-c9d6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742369823178:ios:5bb282b22bd07b033ca733</string>
</dict>
</plist>